body
  font-family: 'Nunito Sans', sans-serif
  background: #fff
a
  text-decoration: none
li
  list-style: none
header
  display: flex
  width: 100%
  padding-bottom: 70px
nav
  font-family: 'Nunito', sans-serif
  margin-top: 70px
  margin-right: 160px

main
  display: flex
  width: 100%
main h1
  color: #091e40
  font-size: 68px

.header_logo
  flex-basis: 50%
  margin-top: 70px
  margin-left: 160px
  font-size: 48px
  font-weight: 600
  color: #4497f3
  cursor: pointer
.header_logo__image
  width: 48px
  height: 48px

.header_nav
  flex-basis: 50%
.header_nav a
  color: #bab8b8
  text-align: center
  padding: 16px 35px
  font-size: 20px
  &:hover
    color: #4497f3
  &.header_nav__active
    color: #4497f3
.header_nav__button
  border: 3px solid #4497f3
  color: #4497f3
  font-size: 20px
  padding: 16px 45px
  background: #fff

.paradise
  display: flex
  width: 100%
.paradise__title
  flex-basis: 40%
  padding: 160px 160px
  & p
    color: #81858e
    font-size: 18px
.paradise__image
  flex-basis: 60%
